@media (max-width: 450px) {
    .page1,.page2,.page4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        
    }

    .pages {
        position: relative;
        margin-right: 10000px;
    }

    .page1 .right {
        width: 100vw;
        height: 80vh;
        position: relative;
    }

    .page1 .right .circle {
        height: 30vh;
        width: 30vh;
      
    }

    .glass {
        overflow: hidden;
        overflow-y: scroll;
    }
    header {
        display: none;
    }

    .page1 .left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: baseline;
        padding: 0 10vw 15vh 10vw;

    }

    .page1 .left h1 {
        font-size: 2rem;
        align-self: self-start;
    }

    .page1 .left p {
        font-size: 1.2rem;
    }

    .page1 {
     top: 2vh;
     flex-direction: column-reverse;
        }

        .right {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: baseline;
            padding: 0 10vw 0 10vw;
        }

        .left .image img {
            width: 30vh;
            height: 100%;
            
        }

        .page2 .left {
            padding-left: 0;
        }
        .tab-title {
            display: flex;
            align-self: center;
            justify-self: center;
            
        }

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #education ul li {
             
                display: grid;
                grid-template-columns: 40vw 5vw 40vw;
                grid-template-rows: 1fr 1fr;
                align-self: start;
                justify-content: center;
            
        }
        .active-content {
            display: block;
            position: relative;
        }
        .page2 .right  {
            /* bottom: 15vh; */
            position: relative;
        }

        .imagesofproject {
            grid-template-columns: 90vw;
        }
}
