@keyframes topIn {
    0% {
transform:translateY(-300px);
opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes right-in {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
    }
    
    1% {
        opacity: 1;
    }

    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
