@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Jost:wght@100;300;400;800;900&family=Poppins:wght@300;500;700;800;900&display=swap');



* {
  padding: 0;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}





body::-webkit-scrollbar {
  display: none;
}
/* .glass::-webkit-scrollbar {
  display: none;
} */
body {
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  );
}

header {
  height: 15vh;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.glass {
  left: 50%;  
margin-left: -50.1vw;
top: 50%;  
margin-top: -50vh;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);  
  width: 100vw;
  height: 100%;
position: fixed;
  
}

.page1{
}
.page1,
.page2,
.page3,
.page4 {
  
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 5vh;
}

.page1,
.page2,
.page3,
.page4{ 
  height: 100vh;
  width: 100vw;
  
}
.pages {
  /* position: absolute; */
  /* top: -15vh; */
  /* overflow: scroll; */
  position: relative;
  height: 100%;
  width: 100vw;
  
}

.left {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding-left: 5vw;
}

.right {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding-right: 5vw;
}

/* .page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.page3 {
  /* height: 100vh;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.square1,.square2,.square5{
  /* opacity: 0; */
}
.square1 {
  height: 45vw;
  width: 45vw;
  background-color: rgb(255, 0, 0);
  top: 15vh;
  left: 3vw;
  filter: blur(100px) ;
  -webkit-filter:blur(100px);
  overflow: hidden;
  border-radius: 100%;
  position: fixed;
}

.square2 {
  height: 45vw;
  width: 45vw;
  background-color: rgb(38, 0, 255);
  top: 20vh;
  left: 40vw;
  filter: blur(100px);
  -webkit-filter: blur(100px) ;
  border-radius: 100px;
  position: fixed;
}


.square5 {
  width: 30vw;
  height: 30vw;
  background-color: rgb(102, 128, 243);
  top: 30vh;
  left: 58vw;
  border-radius: 50%;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  position: fixed;
  
}

.title,
.name {
  color: #edf2f4;
 
}
.aboutMe{
  color: #feeafa;
  font-family: "jost", sans-serif;
}
.title {
  font-size: 3em;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 200;


}

.projecttitle {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  /* font-weight: 500; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.title span {
  background-color: #0094e900;
  /* background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: 'Poppins',sans-serif; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white ;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 900;
  /* font-family: 'Jost', sans-serif; */
  font-size: 4rem;
}

nav {
  overflow: hidden;
}

nav ul {
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;

  overflow: hidden;
  /* height: 10vh; */
}

nav ul li {
  display: flex;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;
  /* opacity: 0; */
}

nav ul li a {
  display: block;
  align-items: center;
  justify-items: center;
  margin: 0 3vw 0 3vw;
  padding: 22px 10px 22px 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-family: "poppins", sans-serif;
}

nav ul li a::after {
  content: " ";
  height: 3px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 10%;
  display: block;
  transform: scaleX(0);
  transition: transform .3s;
  transform-origin: right;
}

nav ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: left;
}

.circle {
  width: 35vw;
  height: 35vw;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba( 255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  border: 4px solid rgba(255, 255, 255, 0.2);
  /* animation: right-in 2s ease-out 3s forwards; */
  /* opacity: 0; */
}

.right,
.right img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  /* border-radius: 50%; */
  width: 34vw;
  height: 34vw;
  object-fit: cover;
}



.left,
.right,
.main-project {
  /* z-index: 1; */
}

.aboutMe {
  font-size: 1.4rem;
}

.aboutMe .heading h1 {
  font-size: 3rem;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins",sans-serif;
}

/* .page3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.main-project {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 5vw;
  padding-left: 5vw;
}

/* .main-project .title {
  align-items: baseline;
} */

/* .mini-project {
  background-color: green;
} */

.imagesofproject img {
  aspect-ratio: 16/9;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagesofproject {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
}

.projectList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.projectList h1 {
  align-self: baseline;
  padding-left: 2vw;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  color: white;
}

.imagesofproject::-webkit-scrollbar {
  display: none;
}

.left .image img {
  height: 70vh;
  width: auto;
  aspect-ratio: 14/16;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  /* opacity: 0; */
  /* animation: left-in 1.5s ease-out 0s forwards; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-content ul li img {
  height: 70px;
  width: 70px;
}

.tab-link {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
}



.tab-title {
  display: flex;
  gap: 5vw;
  margin: 20px 0;
}
.tab-title div {
  cursor: pointer;
}
.tab-content ul {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.tab-content ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 20px;
}

.tab-content {
  display: none;
}
.active-content {
  display: block;
  position: absolute;
}

.page2 .right .aboutMe {
  bottom: 15vh;
  position: relative;
}

.messageMe {
  /* padding-left: 10vw; */
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 4px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  margin-right: 8vw;
  padding: 2vh 2vw;
  border-radius: 10px;
  /* -webkit-box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1);
-moz-box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1);
box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1); */
}

form input,
form textarea {
  border-radius: 5px;
  padding: 2.5vh 20vw 2.5vh 1vw;
  margin: 2vh 0;
  font-size: 1.3rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.socialIcon a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  padding-right: 20px;
}

/* .page4 .left,.page4 .right{
  display: flex;
  align-items: center;
  justify-content: center;
} */

li h3,
li p,
ul h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}

li {
  list-style: none;
}

.personal-info h1 {
  padding: 4vh 0vw;
  font-size: 4rem;
  font-family: "jost", sans-serif;
  font-weight: 500;
}

.personal-info li h3,
.personal-info li p {
  margin: 2vh 0px;
}

li h3 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "poppins",sans-serif;
}

li p {
  font-size: 1rem;
  font-family: "Bai Jamjuree",sans-serif;
}

form button {
  padding: 20px 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.103);
  background-color: rgba(240, 248, 255, 0);
  color: white;
  font-family: "poppins" sans-serif;
  font-weight: 700;
}

#education ul li {
  display: grid;
  grid-template-columns: 5vw 5vw 20vw;
  grid-template-rows: 1fr 1fr;
  align-self: start;
  justify-content: center;
}
.tab-link::after {
  content: " ";
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 10%;
  display: block;
  transform: scaleX(0);
  transition: transform .3s;
  transform-origin: right;
}

.tab-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .3s;
}

.item1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

#education ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#education ul li h5 {
  padding: 3vh 0px;
}

#education ul li p {
  padding: 1vh 0;
}

.personal-info h1 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-info {
  position: relative;
}

::placeholder {
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.imgcard{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.imgcard:hover .card{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
  transform: translate(0, -100%);
  opacity: 1;

}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-out;
  top: 100%;
  gap: 5vw;
}
.card .link, .card .code {
  height: 6vh;
  width: 6vw;
  border-radius:5px;
  font-family: "poppins", sans-serif;
  font-size: 1em;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid white;
  color: wheat;
  transition: 100ms;
}

.card .link:hover, .card .code:hover {
  height: 8vh;
  width: 8vw;
  font-size: 2em;
  transition: 200ms;
}





