* {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;800;900&family=Poppins:wght@300;500;700;800;900&display=swap");
}

html {
  scroll-behavior: smooth;
  scrollbar-arrow-color: red;
}
body {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.background {
  background-color: black;
  top: 0;
  
}

header {
  height: 10vh;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  position: sticky;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.glass {
  /* overflow: hidden; */
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid rgba( 255, 255, 255, 0.05); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.page1, .page2, .page4 {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

}

 .left {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
 padding-left: 5vw;
}

.right {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
 padding-right: 5vw;
}

/* .page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.square1 {
  height: 15vh;
  width: 15vw;
  position: absolute;
  background-color: red;
  top: 15vh;
  left: 23vw;
  filter: blur(100px) saturate(180%);
  overflow: hidden;
}

.square2 {
  height: 15vh;
  width: 15vw;
  position: absolute;
  background-color: rgb(38, 0, 255);
  top: 50vh;
  right: 70vw;
  left: 70vw;
  filter: blur(200px) saturate(180%);
}

.square3 {
  height: 30vh;
  width: 30vw;
  position: absolute;
  background-color: rgb(255, 95, 46);
  top: 250vh;
  left: 60vw;
  filter: blur(200px) saturate(180%);
  overflow: hidden;
}

.square4 {
  height: 30vh;
  width: 30vw;
  position: absolute;
  background-color: rgb(255, 48, 48);
  top: 80vh;
  left: 20vw;
  filter: blur(200px) saturate(180%);
  overflow: hidden;
}

.title,
.aboutMe,
.name {
  color: white;
  font-family: "Jost", sans-serif;
 
}

.title {
font-size: 3em;
font-weight: 500;
}

.projecttitle {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title span {
  
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  overflow: hidden;
}

nav ul {
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;

  overflow: hidden;
  /* height: 10vh; */
}

nav ul li {
  display: flex;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;

  /* margin:0 10vh 0 10vh; */
}

nav ul li a {
  display: block;
  align-items: center;
  justify-items: center;
  margin: 0 3vw 0 3vw;
  padding: 22px 10px 22px 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.circle {
  width: 35vw;
  height: 35vw;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 50%;
  
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba( 255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.right,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
 
}



.circle img {
  border-radius: 50%;
  width: 34vw;
  height: 34vw;
 
}

.square5 {
  width: 30vw;
  height: 30vw;
  background-color: rgb(91, 245, 30);
  position: absolute;
  top: 30vh;
  left: 58vw;
  border-radius: 50%;
  filter: blur(100px);
}

.left, .right ,.main-project {
  z-index: 1;
}

.aboutMe {
font-size: 1.2rem;
}

.aboutMe .heading h1 {
  font-size: 3rem;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .page3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */



 .main-project {
  
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 5vw;
  padding-left: 5vw;
} 

/* .main-project .title {
  align-items: baseline;
} */

/* .mini-project {
  background-color: green;
} */


.imagesofproject img {
  aspect-ratio: 16/9;
  height:30vh;
  border-radius: 5px;
}

.imagesofproject{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
  
}

.projectList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectList h1 {
  align-self: baseline;
  padding-left: 2vw;
  font-size: 2rem;
  font-family: "poppins",sans-serif;
  color: white;
}

.imagesofproject::-webkit-scrollbar{
  display: none;
}

.left .image img {
  height: 70vh;
  width:auto;
  aspect-ratio: 11/16;
  object-fit: cover;
  border-radius: 20px;
}

.tab-content ul li img {
height: 70px;
width: 70px;
}

.tab-link{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.tab-title {
  display: flex;
  gap: 5vw;
  margin: 20px 0;
}
.tab-title div {
  cursor: pointer;
}
.tab-content ul {
  display: flex;
  align-items: center;
  justify-content: baseline;
  
}

.tab-content ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 20px;
}

.tab-content{
  display: none;
}
.active-content {
  display: block;
  position:fixed;
}

.page2 .right .aboutMe{
  bottom: 20vh;
  position: relative;
} 

.messageMe {
  /* padding-left: 10vw; */
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 4px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  margin-right: 8vw;
  padding: 2vh 2vw;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1);
-moz-box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1);
box-shadow: 5px 5px 40px 0px rgba(255,255,255,0.1);
}



form input, form textarea {
  /* width: 100%; */
  border-radius: 5px;
  padding: 2.5vh 20vw 2.5vh 1vw;
  margin: 2vh 0;
  font-size: 1.3rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.socialIcon a {
text-decoration: none;
color: white;
font-size: 50px;
padding-right: 20px;
}

/* .page4 .left,.page4 .right{
  display: flex;
  align-items: center;
  justify-content: center;
} */

li h3, li p,ul h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}

li {
  list-style: none;
}

ul h1 {
  padding: 4vh 0vw;
  font-size: 4rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.personal-info li h3, .personal-info li p {
  font-family: "poppins", sans-serif;
  margin:2vh 0px;
}

li h3 {
 font-weight: 900;
 font-size: 1.5rem;
}

li p {
  font-size: 1rem;
}

form button {
  padding: 20px 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(240, 248, 255, 0);
  color: white;
  font-family: "poppins" sans-serif;
  font-weight: 700;
}

#education ul li {
  display: grid;
  grid-template-columns:  5vw 5vw 20vw ;
  grid-template-rows: 1fr 1fr;
  align-self: start;
  justify-content: center;

}

.item1 {
  grid-row:1 / 3;
  grid-column: 1 / 3;
}


#education ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#education ul li h5 {
  padding: 3vh 0px;
}

#education ul li p {
  padding: 1vh 0;
}

.personal-info h1 {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
